<h3>Anmeldungen</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Run</th>
        <th>Startnr.</th>
        <th>AK</th>
        <th>Zielzeit</th>
        <th>Läufer</th>
        <th>Geburtsdatum</th>
        <th>Geschlecht</th>
        <th>Organisation / Staffelname</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @registrations.each do |registration| %>
        <tr>
          <td><%= registration.run.name %></td>
          <td><%= registration.startnumber %></td>
          <td>MHK</td>
          <td><%= registration.finishtime.blank? ? "00:00:00" : (l registration.finishtime, format: :time) %></td>
          <td><%= link_to registration.runner_display_name, event_run_registration_path(@event, registration.run,registration) %></td>
          <td><%= l registration.runner_date_of_birth %></td>
          <td><%= registration.runner_gender %></td>
          <td><%= registration.run.relay? ? registration.relay.name : registration.runner_organisation %></td>
          <td><%= link_to 'Bearbeiten', registration.run.relay? ? edit_event_run_relay_path(@event,registration.run, registration.relay) :edit_event_run_registration_path(@event,registration.run, registration) %></td>
          <td><%= link_to 'Löschen', event_run_registration_path(@event, registration.run, registration), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

