<% content_for :header_nav do %>
	<div class="btn-group pull-right">
	  <button type="button" class="btn btn-primary"><%= @page_topic %></button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <%= render_navigation context: :event, expand_all: true %>
	</div>
<% end %>

<div class='row'>
  <div class='col-lg-12'>
    <div class='page-header'>
      <h1>
        <%= "#{@event.name} <small class='hidden-xs'>(#{l @event.event_date})</small>".html_safe %>
        <%= yield :header_nav %>
      </h1>
    </div>
  </div>
</div>

<h3><%= @page_topic %><%= yield :topic_nav %></h3>
