<%= bootstrap_nested_form_for @event, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-9" do |f| %>
	<div class="col-lg-6">
		<%= f.text_field :name, help: "Veranstaltungsname" %>
		<%= f.text_field :event_date, type: :date, help: "Veranstaltungsdatum" %>
    <%= f.form_group do %>
        <%= f.submit class: "btn btn-success" %>
        <%= link_to "Abbrechen", events_path, class: "btn btn-default" %>
    <% end %>    
	</div>
<% end %>